
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form  class="form-container" [formGroup]="instantSearchForm" (ngSubmit)="onInstant(instantSearchForm.value)">
            <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" placeholder="Depart From" formControlName= "departure" [matAutocomplete]="depCity" />
                  <mat-error *ngIf="fc['departure'].touched && fc['departure'].errors?.required">Please Enter A Departure Origin</mat-error>
              </mat-form-field>
              <mat-autocomplete #depCity="matAutocomplete">
                <mat-optgroup *ngFor="let city of $$depCities|async" [label]="city.name">
                <mat-option *ngFor="let airports of city.airports[0]" [value]='airports.code'>{{airports.name}}</mat-option>
              </mat-optgroup>
              </mat-autocomplete>
              </div>
          <div class="form-group">
            <mat-form-field>
                <input matInput type="text" placeholder="Destination To" formControlName= "destination" [matAutocomplete]="desCity"/>
            <mat-error *ngIf="fc['destination'].touched && fc['destination'].errors?.required">Please Enter A Destination Location</mat-error>
            </mat-form-field>
            <mat-autocomplete #desCity="matAutocomplete">
                <mat-optgroup *ngFor="let city of $$desCities|async" [label]="city.name">
                <mat-option *ngFor="let airports of city.airports[0]" [value]='airports.code'>{{airports.name}}</mat-option>
              </mat-optgroup>
              </mat-autocomplete>
              </div>
              <div class="form-group">
                <mat-form-field>
                  <input matInput formControlName="numberofpassengers" placeholder="Number of Travelers">
                  <mat-error *ngIf="fc['numberofpassengers'].touched && fc['numberofpassengers'].errors?.required">Please Select # of Travelers</mat-error>
                  <mat-error *ngIf="fc['numberofpassengers'].touched && fc['numberofpassengers'].errors?.min"> # of Travelers Must be at Least 1</mat-error>
                </mat-form-field>
              </div>

          <div class="form-group">
            <mat-form-field>
                <input matInput [matDatepicker]="departuredate" placeholder="Choose a Departure Date" formControlName= "departuredate">
                <mat-error *ngIf="fc['departuredate'].touched && fc['departuredate'].errors?.required">Please Choose A Departure Date</mat-error>



                <mat-datepicker-toggle matSuffix [for]="departuredate"></mat-datepicker-toggle>
                <mat-datepicker #departuredate></mat-datepicker>
            </mat-form-field>

          </div>
          <div class="form-group">
              <mat-checkbox (change)="onDirection()" [checked]="$$direction|async">Return Trip</mat-checkbox>
          </div>
          <div class="form-group">

            <mat-form-field *ngIf="$$direction|async">
                <input matInput [matDatepicker]="returndate" placeholder="Choose a Return Date" formControlName="returndate">
                <mat-error *ngIf="fc['returndate'].touched && fc['returndate'].errors?.required">Please Choose A Return Date</mat-error>
                <mat-error *ngIf="fc['returndate'].touched && fc['returndate'].errors?.maxLengthOfStay">Maximim 16 days Between Round-Trip Dates</mat-error>
                <mat-error *ngIf="fc['returndate'].touched && fc['returndate'].errors?.validReturnDate">Return Date Cannot Be Before Departure Date</mat-error>
                <mat-datepicker-toggle matSuffix [for]="returndate" ></mat-datepicker-toggle>
                <mat-datepicker #returndate></mat-datepicker>
            </mat-form-field>

          </div>
          <div class="form-group">
            <button mat-raised-button [disabled]=!instantSearchForm.valid>Search</button>
        </div>
      </form>
    </div>
    </div>

</div>


